<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HelpDesk Fullstack</mat-card-title>
        <mat-card-subtitle>Projeto pessoal de Helpdesk Fullstack</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/web-development-svgrepo-com.svg" alt="Photo of a Shiba Inu">
    <mat-card-content class="legenda">
      <p>
        Seja bem-vindo ao meu projeto pessoal de Helpdesk Fullstack! <br />
        <br />
        Estou muito animado em compartilhar minha solução de gerenciamento de suporte ao cliente construída com as tecnologias Java, Spring, Angular e JWT.<br /> 
        Com essas ferramentas, estou seguro que poderei oferecer uma experiência de usuário fluida e segura.<br /> 
        Se você tiver alguma dúvida ou precisar de ajuda, não hesite em entrar em contato. 
        <br />
        <br />
        Estou ansioso para trabalhar com você e ajudá-lo a resolver seus problemas e melhorar sua experiência geral.<br />
        Att. Eduardo Floriano
      </p>
    </mat-card-content>
    
  </mat-card>
  