.container {
    width: 90%;
    margin: auto;
}


table {
    width: 100%;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  button {
    width: 100%;
    margin: 10px;
  }
  
  .edit {
    color: rgb(162, 0, 255);
  }

  .delete {
    color: rgb(162, 0, 255);
  }