<div class="container">
    <form class="form mat-elevation-z10">

        <h1>HelpDesk FullStack</h1>
        <img src="assets/img/login-svgrepo-com.svg" alt="">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input 
      [formControl]="email"
      required
      [(ngModel)]="creds.email" name="enail" matInput placeholder="Ex. seuemail@email.com">
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input 
        [formControl]="senha"
        required
        [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="Ex. suasenha123">
      </mat-form-field>

      <button (click)="fazerLogin()" [disabled]="!validarCampos()" class= "full-width mat-elevation-z6" mat-flat-button color="accent">Logar</button>
  </form>
  </div>