<div class="container">
    <form class="form mat-elevation-z10">

        <h1>HelpDesk FullStack</h1>
        <img src="assets/img/login-svgrepo-com.svg" alt="">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. seuemail@email.com">
    </mat-form-field>
    
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Ex. suasenha123">
      </mat-form-field>

      <button class= "full-width mat-elevation-z6" mat-flat-button color="accent">Logar</button>

  </form>
  </div>